body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-flow: row wrap;
   
}


header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left:0.2em;
    margin: 0 0 1em; 0;
    
}

header nav ul li {
     margin-top: 0.5em;
  margin-left: 0.5em;
    margin-top: 1.5em;

}

header nav ul li a {
   font-family: "Nexa Bold", sans-serif;
    color: #00d16c;
}
  
input[type=search] {
    width: 0;
    border: 2px solid #fff;
    border-radius: 0.50em;
    background-color: white;
    background-color: #fff;
    background-image: url('../images/iconen/search.png');
    background-position: 0.6em 1em;
    background-repeat: no-repeat;
    background-size: 2em;
    padding: 1.5em;
    transition: width 0.5s ease-in-out;
    margin-left: auto;
    margin-top: 0.5em;
     margin-right: 1em;
}

input[type=search]:hover {
    cursor: pointer;
}

input[type=search]:focus {
    width: 100%;
    border: 2px solid grey;
    border: 2px solid #ccc;
    background-image: none;
    background-color: yellow;
}

@media (min-width: 26em) {
input[type=search]:focus {
    width: 100%;
    background-color: blue;
}
}

@media (min-width: 30em) {
input[type=search]:focus {
    width: 40%;
    background-color: red;
}
}

@media (min-width: 40em) {
input[type=search]:focus {
    width: 30%;
    background-color: pink;
}
}


header img {
    width: 3em;
    height: 3em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}


h1 {
    font-family: "Nexa Bold", sans-serif;
    color: #00d16c;
    font-size: 2.3em;
    margin-left: 0.7em;
    margin-top: 1em;
    width: 100%
}

